.custom-primary {
  background-color: #FF2200; /* Màu tùy chỉnh */
  border-color: #FF2200;
}

/* Ghi đè màu chính của Bootstrap cho nút */
.custom-btn-primary {
  background-color: #FF2200; /* Màu tùy chỉnh */
  border-color: #FF2200;
}